{% load i18n %}

{% block subject %}
Réinitialisation du mot de passe sur {{ site_name }}
{% endblock subject %}

{% block text_body %}
Tu as reçu cet email car une demande de réinitialisation du mot de passe a été faite pour ton compte sur {{ site_name }}.

Voici le lien pour modifier ton mot de passe :
https://{{ domain }}/{{ url|safe }}

Nous te remercions d'utiliser notre site internet.

À bientôt,

L'équipe {{ site_name }}
{% endblock text_body %}

{% block html_body %}
<p>Tu as reçu cet email car une demande de réinitialisation du mot de passe a été faite pour ton compte sur {{ site_name }}.</p>

<p>Voici le lien pour modifier ton mot de passe :</p>
<a href="https://{{ domain }}/{{ url }}">https://{{ domain }}/{{ url }}</a>

<p>Nous te remercions d'utiliser notre site internet.</p>

<p>À bientôt,</p>

<p>L'équipe {{ site_name }}</p>
{% endblock html_body %}